# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# # src code
!./sanmoku/src/gitkeep

# dependencies
/sanmoku/node_modules
# /.pnp
# .pnp.js

# testing
/sanmoku/coverage

# production
/sanmoku/build

# misc
/sanmoku/.DS_Store
/sanmoku/.env.local
/sanmoku/.env.development.local
/sanmoku/.env.test.local
/sanmoku/.env.production.local

/sanmoku/npm-debug.log*
/sanmoku/yarn-debug.log*
/sanmoku/yarn-error.log*
